<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      YGBM KONEKSI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1> <strong> TENTANG APLIKASI. </strong> </h1>
<p> YGBM KONEKSI merupakan aplikasi yang di rancang khusus untuk melakukan pendaftaran menjadi koneksi dari Yayasan Gelegar Bangsa Mandiri (YGBM) </p>
<p> Anda bisa mendaftar menjadi koneksi kami melalui aplikasi ini, baik itu bergabung sebagai donator, mitra atau pun relawan. </p>
<h2> <strong> PENGEMBANG </strong> </h2>
<br> <a href="https://january.my.id/"> Fauzan </a>
<br> <ion-icon name="mail-outline"></ion-icon> <a href="mailto:fauzanthefortuna01@gmail.com"> Email </a>
<br> <ion-icon name="logo-wordpress"></ion-icon> <a href="https://january.my.id/"> Website </a>
<br> <ion-icon name="logo-github"></ion-icon> <a href="https://github.com/fauzan-january/"> GitHub </a>
<h2> <strong> INFORMASI APLIKASI </strong> </h2>
<p> Versi aplikasi: 3.2.1.0 </p>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
