<ion-header>
  <ion-toolbar>
    <ion-title>
    YGBM KONEKSI
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card bg-content">
    <ion-card-header>
      <ion-card-title color="primary">Berminat bergabung dengan kami sebagai donator, mitra atau relawan?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Silakan isi form berikut untuk bergabung menjadi koneksi kami!</p>
      <ion-list>
        <ion-item>
          <ion-label position="floating"> Nama lengkap </ion-label>
          <ion-input type="text" [(ngModel)]="nama"></ion-input>
        </ion-item>

<ion-item>
          <ion-label position="floating"> Tempat Lahir </ion-label>
          <ion-input type="text" [(ngModel)]="tempat_lahir"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating"> Tanggal Lahir </ion-label>
          <ion-input type="date" [(ngModel)]="tanggal_lahir" aria-labelledby="tanggalLahirLabel"></ion-input>
        </ion-item>
        
<ion-item>
          <ion-label position="floating"> Alamat </ion-label>
          <ion-textarea [(ngModel)]="alamat"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Jenis Kelamin </ion-label>
          <ion-select
            [(ngModel)]="jenis_kelamin"
            class="popover-content"
            placeholder="Pilih jenis kelamin"
          >
            <ion-select-option value="Laki-laki"
              >Laki-laki</ion-select-option
            >
            <ion-select-option value="Perempuan"
              >Perempuan</ion-select-option
            >
         </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating"> Agama </ion-label>
          <ion-select
            [(ngModel)]="agama"
            class="popover-content"
            placeholder="Pilih agama"
          >
            <ion-select-option value="Islam"
              >Islam</ion-select-option
            >
            <ion-select-option value="Protestan"
              >Protestan</ion-select-option
            >
            <ion-select-option value="Katolik"
              >Katolik</ion-select-option
            >
            <ion-select-option value="Hindu"
              >Hindu</ion-select-option
            >
            <ion-select-option value="Buddha"
              >Buddha</ion-select-option
            >
            <ion-select-option value="Konghucu"
              >Konghucu</ion-select-option
            >
         </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Pendidikan Terakhir </ion-label>
          <ion-select
            [(ngModel)]="pendidikan_terakhir"
            class="popover-content"
            placeholder="Pilih pendidikan"
          >
            <ion-select-option value="SD Sederajat"
              >SD Sederajat</ion-select-option
            >
            <ion-select-option value="SMP Sederajat"
              >SMP Sederajat</ion-select-option
            >
            <ion-select-option value="SMA Sederajat"
              >SMA Sederajat</ion-select-option
            >
            <ion-select-option value="Diploma"
              >Diploma</ion-select-option
            >
            <ion-select-option value="S1 Sederajat"
              >S1 Sederajat</ion-select-option
            >
            <ion-select-option value="S2"
              >S2</ion-select-option
            >
            <ion-select-option value="S3"
              >S3</ion-select-option
            >
            <ion-select-option value="Homeschooling"
              >Homeschooling</ion-select-option
            >
            <ion-select-option value="Tidak Pernah Menempuh Pendidikan"
              >Tidak Pernah Menempuh Pendidikan</ion-select-option
            >
         </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating"> Kegiatan Sekarang </ion-label>
          <ion-select
            [(ngModel)]="kegiatan_sekarang"
            class="popover-content"
            placeholder="Pilih kegiatan"
          >
            <ion-select-option value="Pelajar"
              >Pelajar</ion-select-option
            >
            <ion-select-option value="Mahasiswa"
              >Mahasiswa</ion-select-option
            >
            <ion-select-option value="Bekerja"
              >Bekerja</ion-select-option
            >
            <ion-select-option value="Pengangguran"
              >Pengangguran</ion-select-option
            >
         </ion-select>
        </ion-item>       

        <ion-item>
          <ion-label position="floating"> Nomor Telepon </ion-label>
          <ion-input type="number" [(ngModel)]="nomor_telepon"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Email </ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Anda Ingin Bergabung Menjadi Koneksi Kami Sebagai Apa? </ion-label>
          <ion-select
            [(ngModel)]="status_koneksi"
            class="popover-content"
            placeholder="Pilih jenis koneksi"
          >
            <ion-select-option value="Donator"
              >Donator</ion-select-option
            >
            <ion-select-option value="Mitra"
              >Mitra</ion-select-option
            >
            <ion-select-option value="Relawan"
              >Relawan</ion-select-option
            >
         </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Anda bergabung menjadi koneksi kami atas nama? </ion-label>
          <ion-select
            [(ngModel)]="atas_nama"
            class="popover-content"
            placeholder="Atas Nama"
          >
            <ion-select-option value="Pribadi"
              >Pribadi</ion-select-option
            >
            <ion-select-option value="Lembaga"
              >Lembaga</ion-select-option
            >
            <ion-select-option value="Instansi"
              >Instansi</ion-select-option
            >
            <ion-select-option value="Organisasi"
              >Organisasi</ion-select-option
            >
            <ion-select-option value="Komunitas"
              >Komunitas</ion-select-option
            >
            <ion-select-option value="Yayasan"
              >Yayasan</ion-select-option
            >
         </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Sebutkan Nama Perusahaan/Lembaga/Instansi/Organisasi/Komunitas/Yayasan, Jika Atas Nama Pribadi, Silahkan Isi Dengan Tanda - </ion-label>
          <ion-input type="text" [(ngModel)]="nama_koneksi"></ion-input>
        </ion-item>

      </ion-list>
      <div padding>
        <ion-button
          expand="block"
          color="primary"
          size="medium"
          (click)="addRegister()"
          ><ion-icon name="trending-up-outline"></ion-icon> Daftar</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>