<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      YGBM KONEKSI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1> <strong> Selamat datang di aplikasi YGBM koneksi! </strong> </h1>
<p> Ini merupakan sistem pendaftaran berbasis aplikasi yang di rancang khusus untuk anda yang berminat bergabung menjadi koneksi kami Yayasan Gelegar Bangsa Mandiri (YGBM), baik itu sebagai donator, mitra, maupun relawan. </p>
<h2> <strong> SEKILAS TENTANG YAYASAN GELEGAR BANGSA MANDIRI (YGBM) </strong> </h2>
<p> Yayasan Gelegar Bangsa Mandiri (YGBM) merupakan salah satu yayasan yang didirikan untuk meningkatkan kesejahteraan dan kesetaraan para penyandang disabilitas dengan masyarakat, dengan mengadakan program-program sebagai berikut: </p>
<ol>
<li> <p> Pengembangan diri yang berupa pengembangan minat, bakat dan keterampilan. </p> </li>
<li> <p> Memberikan beasiswa untuk pelajar dan mahasiswa penyandang disabilitas yang kurang mampu. </p> </li>
<li> <p> Memberikan fasilitas atau keperluan alat peraga untuk para penyandang disabilitas secara gratis. </p> </li>
<li> <p> Mengadakan sosialisasi kepada masyarakat awam tentang para penyandang disabilitas, serta melibatkan langsung penyandang disabilitas untuk bersosialisasi dengan masyarakat. </p> </li>
</ol>
<h2> <strong> PANDUAN PENDAFTARAN MENJADI KONEKSI KAMI </strong> </h2>
<ol>
<li> <p> Klik tab daftar untuk menuju form pendaftaran. </p> </li>
<li> <p> Isi semua pertanyaan pada formulir dengan data anda yang valid. </p> </li>
<li> <p> Klik tombol daftar untuk mengirim data anda ke sistem database. </p> </li>
<li> <p> Klik tab koneksi untuk cek data yang sudah anda daftarkan. Jika sudah ada, maka anda sudah berhasil terdaftar sebagai koneksi kami. </p> </li>
</ol>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
